

body{
  margin: 0;
  padding: 100;
  background-color: rgba(0,0,0,0.9);
  font-family: 'PT Serif', serif;
}

a{
	display: flex;
	color: rgba(255,255,255,0.8);
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	width: 350px;
  	margin: 100px auto 0;
  	padding: 10px;
}
a:hover{
	color: rgba(255,255,255,1);
	cursor: pointer;

}

img {
	float: left;
}
