

body{
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.9);
  font-family: 'PT Serif', serif;
}

ol {
  position: relative;
  width: 450px;
  margin: 20px auto 0;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  font-size: 25px;
  /*counter-reset: my-awesome-counter;*/
}


ul {
  list-style-type: none;
}
.date{
  display: flex
  background: rgba(220,220,220,0.1);
  padding: 10px 30px;
  margin: 5px 0;
  transition: 10.5px;
}

.ct{
  font-size: 17px;
  padding: 10px 30px;
  margin: 5px 0;
}

.assignment{
  font-size: 17px;
  padding: 10px 30px;
  margin: 5px 0;
}

.expired{
  font-size: 17px;
  color: red;
  display: none;

}

.time_remaining{
  font-size: 17px;
  color: rgba(200,200,200,0.5);
  display: inline-block;

}
